<div class="container">
	<div class="row">
		<div class="col-sm-12">
			<table class="table table-bordered table-striped table-condensed table-hover">
				<thead>
				<tr>
					<th colspan="2">Documents</th>
				</tr>
				</thead>
				<tbody>
					<% @documents.each do |document| %>
						<tr>
							<th><%= document.name %></th>
							<td>
								<% {pdf: 'acrobat', txt: 'text'}.each do |format, icon| %>
									<%= link_to document_path(document, format: format) do
									   image_tag 'empty.png', class: "sprite-silk-page_white_#{icon}"
									end %>
								<% end %>
							</td>
						</tr>
					<% end %>
				</tbody>
			</table>
		</div>
	</div>
</div>
