$ ->
	$("#search").click ->
		filter = $("#filter").val()
		$.post "<%= path :root %>", filter: filter, (results) ->
			tbody = $("#documents > tbody")
			tbody.empty()
			for result in results
				doc = result.doc
				page = result.page

				tr = $("<tr>")
				tr.append "<th><a href=\"<%= path :document, %i(doc), format: :pdf %>\">#{doc}</a></th>"
				tr.append "<th>#{page}</th>"
				tr.append "<td><img src=\"<%= path :document_page, %i(doc page), format: :png %>\" /></td>"

				cell = $("<td>")
				cell.html result.content
				tr.append cell

				tbody.append tr
