<div class="container">
	<div class="row">
		<div class="col-sm-11">
			<div class="input-group">
				<span class="input-group-addon"><i class="fa fa-search"></i></span>
				<input class="form-control" id="filter" placeholder="Filter">
			</div>
		</div>
		<div class="col-sm-1">
			<button id="search" class="btn btn-primary col-sm-12">Search</button>
		</div>
	</div>
	<br/>
	<div class="row">
		<div class="col-sm-12">
			<table id="documents" class="table table-bordered table-striped table-condensed table-hover">
				<thead>
					<tr>
						<th>Document</th>
						<th># Page</th>
						<th>Page</th>
						<th>Text</th>
					</tr>
				</thead>
				<tbody>

				</tbody>
			</table>
		</div>
	</div>
</div>
