//= require 'bootstrap'
//= require 'font-awesome'
//= require_self

body {
	padding-top: 70px;
}

span.highlight {
	background-color: #f00;
}

th, td {
	&.centered {
		text-align: center;
	}
}

.row.spacer {
	margin-top: 40px;
}
