<div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
	<div class="container">
		<div class="navbar-header">
			<%= link_to 'NSA Doc Search', root_path, class: %i(navbar-brand) %>
		</div>
	</div>
</div>
